@model MovieViewModel

<div class="row mb-3">
	<div class="card p-0">
		<div class="row g-0">
			<div class="col-md-3">
				<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Poster" preserveAspectRatio="xMidYMid slice" focusable="false">
					<title>Poster</title>
					<rect width="100%" height="100%" fill="#868e96"></rect>
					<text x="50%" y="50%" fill="#dee2e6" dy=".3em" dx="-1em">Poster</text>
				</svg>
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h3 class="card-title">@Model.Movie.Title</h3>
					<p class="card-text text-muted mb-1"><small>Release: @Model.Movie.ReleaseDate</small></p>
					<p class="card-text text-muted mb-1">
						<small>Genres:
							@foreach (Genre g in Model.Genres)
							{
								@($" {g.Name}")
							}
						</small>
					</p>
					<p class="card-text text-muted mb-1">
						<small>Actors:
							@foreach (Actor a in Model.Actors)
							{
								@($" {a.FirstName} {a.LastName}")
							}
						</small>
					</p>
					<p class="card-text">@Model.Movie.Description</p>
				</div>
			</div>
		</div>
	</div>
</div>